{% from "macros/form.njk" import label, field, textarea, button %}

<form
  name="contact"
  method="POST"
  data-netlify="true"
  action="/thank-you"
  netlify-honeypot="bot-field"
>
  <div class="[ field-list ]" role="group" aria-label="{{ introHeading }}">
    <div class="[ field-list__field-group ]">
      {{ label('Full name', 'name') }}
      {{
        field('text', 'name', {
          required: true,
          autocomplete: 'name'
        })
      }}
    </div>
    <div class="[ field-list__field-group ]">
      {{ label('Email address', 'email') }}
      {{ field('email', 'email', {required: true, autocomplete: 'email'}) }}
    </div>
    <div class="[ field-list__field-group ]">
      {{ label('Message', 'message') }}
      {{ textarea('message', {required: true, spellcheck: 'true'}) }}
    </div>
    <div hidden>
      <label>Don’t fill this out if you're human: <input name="bot-field"/></label>
    </div>
    {{ button('Send') }}
  </div>
</form>
